<div class="container">
  <h3>New customer feedback has been submitted:</h3>
</div>
<div class="container">
  <p><%= @feedback %></p>
</div>
<div class="container">
  <p>This feedback was submitted by <%= @feedback.user %> (<%= @feedback.user.email %>)</p>
</div>
