// Place all the styles related to the Socks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.page-title{
  text-align: center;
}

.img-resposive{
  width:100%;
}
