// Place all the styles related to the Socks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.page-title{
  text-align: center;
}

.img-resposive{
  width:100%;
}

#add-button{
  align-items: center;
  text-align: center;
  margin-top: 13px;
  margin-left: 15px;
}
#each-item{
  text-align: center;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
}
