  <% if current_user %>
<div class= "col-xs-offset-8 signin">
  <span>Welcome, <%= current_user.name %></span>
    <%= link_to "Log Out", user_session_path(current_user),method: :delete, :class => "btn btn-medium btn-primary" %>
  </div>
  <% else %>
  <%= current_user.inspect %>
    <button type="button" class="btn btn-primary btn-lg sign_up_button" data-toggle="modal" data-target="#new_user">Create an Account</button>
    <button type="button" class="btn btn-primary btn-lg sign_in_button" data-toggle="modal" data-target="#sign_in">Sign In</button>
  <% end %>
